{% load user_filters %}

{% if user.is_authenticated %} 
<div class="card my-4">
<form
    action="{% url 'comment_add' post.author.username post.id %}"
    method="post">
    {% csrf_token %}
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
    <form>
        <div class="form-group">
        {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    </div>
</form>
</div>
{% endif %}

<!-- Комментарии -->
{% for item in comment_list %}
<div class="media mb-4">
<div class="media-body">
    <h5 class="mt-0">
    <a
        href="{% url 'profile' item.author.username %}"
        name="comment_{{ item.pk }}"
        >@{{ item.author.username }}</a>
    </h5>
    <p>
    {{ item.text }}
    {% if item.author.username == user.username %}
        <br>(<a href="{% url 'comment_delete' post.author.username post.id item.pk%}">Удалить</a>)
    {% endif %}
    </p>
</div>
</div>

{% endfor %}